$ms-button-color-primary-background: green;
$ms-button-color-primary-foreground: #fff;

$ms-button-color-secondary-background: green;
$ms-button-color-secondary-foreground: #fff;

$ms-button-color-tertiary-background: green;
$ms-button-color-tertiary-foreground: #fff;
